@font-face {
  font-family: BMFont;
  src: url("../fonts/Ac437_IBM_DOS_ISO8");
}

/* Nav */

.nav {
  border-bottom: 3px white solid;
}

.nav .container-fluid {
  background-color: rgb(16, 16, 16);
  padding-top: 8px;
  padding-bottom: 8px;
}

.nav .container-fluid .row {
  align-items: center;
  display: flex;
}

.nav .container-fluid .row .col:nth-child(1) {
  border: 1px solid white;
  color: aquamarine;
  font-size: 20px;
  font-family: BMFont;
  justify-content: center;
  letter-spacing: 5px;
}

/* COL 2 */

.nav .container-fluid .row .col:nth-child(2) {
  display: flex;
  justify-content: center;
}

/* DROP DOWN */

.nav .container-fluid .row .col:nth-child(2) .drop-down {
  position: relative;
  width: 50%;
}

.nav .container-fluid .row .col:nth-child(2) .drop-down .nodrop {
  display: flex;
  justify-content: center;
}

.nav .container-fluid .row .col:nth-child(2) .drop-down button,
.nav .container-fluid .row .col:nth-child(2) .drop-down .drop-menu {
  display: none;
}

.nav .container-fluid .row .col:nth-child(2) a {
  margin-right: 15px;
  border: 1px solid white;
  color: aquamarine;
  font-family: BMFont;
  font-size: 15px;
  letter-spacing: 2px;
  padding: 2px 20px 2px;
  text-decoration: none;
}

.nav .container-fluid .row .col:nth-child(2) a:hover {
  position: relative;
  bottom: 7px;
}

.nav .container-fluid .row .col:nth-child(3) {
  display: flex;
  justify-content: center;
}

.nav .container-fluid .row .col:nth-child(3) .img {
  width: 42px;
  height: 42px;
  border-radius: 5px;
  background-image: url("./img/cepiFoto.png");
  background-position: center 1%;
  background-repeat: no-repeat;
  background-size: cover;
  border: 2px solid aquamarine;
}

@media only screen and (max-width: 1024px) {
  .nav .container-fluid .row .col:nth-child(1) {
    display: none;
  }

  /* DROP DOWN */

  .nav .container-fluid .row .col:nth-child(2) {
    display: flex;
    justify-content: start;
  }

  .nav .container-fluid .row .col:nth-child(2) .drop-down {
    display: flex;
    flex-direction: column;
  }

  .nav .container-fluid .row .col:nth-child(2) .drop-down button {
    display: block;
    width: 100%;
  }

  .nav .container-fluid .row .col:nth-child(2) .drop-down .nodrop {
    display: none;
  }

  .nav .container-fluid .row .col:nth-child(2) .drop-down .drop-menu {
    position: absolute;
    width: 200%;
    top: 150%;
    transform: translateX(-100%);
    display: flex;
    flex-direction: column;
    transition: 0.3s;
    z-index: 9999;
  }

  .nav .container-fluid .row .col:nth-child(2) .drop-down .drop-menu a {
    background-color: rgb(28, 28, 28);
  }

  /* IMG */
  .nav .container-fluid .row .col:nth-child(3) {
    display: flex;
    justify-content: end;
  }
}
