@font-face {
  font-family: BMFont;
  src: url("../fonts/Ac437_IBM_DOS_ISO8.ttf");
}

/* content-1 */
.content-1 {
  background-color: #202020;
}

.content-1 .container .row:nth-child(1) .col:nth-child(1) {
  position: relative;
}

.content-1 .container .row:nth-child(1) .col .buku {
  width: 100px;
  height: 100px;
  background-image: url("./img/book.png");
  background-position: center;
  background-size: contain;
  position: absolute;
  bottom: 20%;
  transform: rotate(-10deg) rotateX(40deg) rotateY(15deg);
  right: 10%;
}

/*  */
/*  */

.content-1 .container .row:nth-child(1) .col .pensil1 {
  width: 40px;
  height: 40px;
  background-image: url("./img/pencil.png");
  background-position: center;
  background-size: contain;
  position: absolute;
  background-repeat: no-repeat;
  bottom: 50px;
  transform: rotateZ(215deg);
  right: 45px;
}

.content-1 .container .row:nth-child(1) .col .pensil2 {
  width: 40px;
  height: 40px;
  background-image: url("./img/pencil.png");
  background-position: center;
  background-size: contain;
  position: absolute;
  bottom: 50px;
  right: -2%;
  transform: rotateZ(198deg);
}

/*  */
/*  */

.content-1 .container .row:nth-child(1) .col:nth-child(2) {
  display: flex;
  justify-content: center;
  position: relative;
}

.content-1 .container .row:nth-child(1) .col .komputer {
  position: relative;
  width: 450px;
  height: 450px;
  background-image: url("./img/computer.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

/* JUDUL ATAS COMP */
.content-1 .container .row:nth-child(1) .col .komputer .kotak {
  width: 67%;
  position: absolute;
  top: 15%;
  left: 16.5%;
  background-color: rgba(54, 54, 54, 0.264);
}

.content-1 .container .row:nth-child(1) .col .komputer .textPertanyaan {
  width: 250px;
  height: 35%;
  font-size: 15px;
  font-family: BMFont;
  letter-spacing: 1px;
  display: flex;
  flex-direction: column;
  align-items: start;
  position: absolute;
  top: 23%;
  left: 22.4%;
}

.content-1 .container .row:nth-child(1) .col .komputer .textPertanyaan p {
  color: white;
  margin-bottom: 0;
  color: aquamarine;
}

.content-1
  .container
  .row:nth-child(1)
  .col
  .komputer
  .textPertanyaan
  textarea {
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.45);
  font-size: 15px;
  font-family: BMFont;
  font-weight: 600;
  color: rgb(11, 150, 29);
  width: 100%;
  height: 100%;
  letter-spacing: 3px;
  border: 0;
  padding-left: 5px;
  padding-right: 5px;
}

/*  */
/*  */

.content-1 .container .row:nth-child(1) .col:nth-child(3) {
  position: relative;
}

.content-1 .container .row:nth-child(1) .col .gelas {
  position: relative;
  width: 100px;
  height: 100px;
  background-image: url("./img/glass.png");
  background-position: center;
  background-size: contain;
  position: absolute;
  bottom: 50px;
  left: 0;
  z-index: 99999;
}

.content-1 .container .row:nth-child(1) .col .air1 {
  position: absolute;
  width: 40px;
  height: 10%;
  left: 7%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 15%;
  border-bottom-right-radius: 15%;
  bottom: 16.5%;
  background-color: rgba(250, 250, 250, 0.41);
  animation: air1 2s alternate infinite;
}

.content-1 .container .row:nth-child(1) .col .air2 {
  width: 12px;
  height: 12px;
  bottom: 24%;
  position: absolute;
  transform: rotate(10deg);
  left: 7.5%;
  background-color: rgba(255, 255, 255, 0.286);
  animation: air2 1.5s alternate infinite;
}

.content-1 .container .row:nth-child(1) .col .air3 {
  width: 12px;
  height: 12px;
  bottom: 24%;
  position: absolute;
  left: 13%;
  transform: rotate(5deg);
  background-color: rgba(255, 255, 255, 0.286);
  animation: air3 1.5s alternate infinite;
}

/*  */
/*  */

/* ROW 2 */

.content-1 .container .row:nth-child(2) {
  background-color: rgb(49, 49, 49);
  padding: 10px;
}

.content-1 .container .row:nth-child(2) form input {
  width: 20%;
  height: 30px;
  background-color: rgb(28, 28, 28);
  border: 2px solid black;
  color: rgb(11, 150, 29);
  margin-right: 10px;
  text-align: center;
  letter-spacing: 1.5px;
  font-size: 18px;
  font-weight: 600;
  font-family: BMFont;
}

.content-1 .container .row:nth-child(2) form input:hover {
  background-color: rgb(0, 0, 0);
}

.content-1 .container .row:nth-child(2) form button {
  background-color: rgb(28, 28, 28);
  color: white;
  font-family: BMFont;
  width: 10%;
}

.content-1 .container .row:nth-child(2) form button:hover {
  background-color: rgb(0, 0, 0);
  position: relative;
  bottom: 3px;
}

/* ! Animation*/
/* ! Animation*/

@keyframes air1 {
  0% {
    border-top-left-radius: 0;
    border-top-right-radius: 10px;
  }
  100% {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
}

/* AIR 2 */
@keyframes air2 {
  0% {
    left: 7.5%;
  }

  100% {
    bottom: 23.3%;
    transform: rotate(-3deg);
  }
}

/* AIR 2 */
@keyframes air3 {
  0% {
    left: 12%;
  }

  100% {
    transform: rotate(-30deg);
    bottom: 24%;
  }
}

/* ! RESPONSIVE */

@media only screen and (max-width: 1439px) {
  .content-1 .container .row:nth-child(1) .col .air1 {
    height: 12%;
    left: 9%;
    bottom: 16%;
  }
}

/* ! LAPTOP ++ */
@media only screen and (max-width: 1024px) {
  .content-1 .container .row:nth-child(1) .col .air1 {
    height: 12%;
    left: 12.4%;
    bottom: 16%;
  }

  .content-1 .container .row:nth-child(1) .col .air2 {
    width: 12px;
    height: 12px;
    bottom: 25%;
    position: absolute;
    transform: rotate(10deg);
    left: 23%;
    background-color: rgba(255, 255, 255, 0.286);
    animation: air2 1.5s alternate infinite;
  }

  @keyframes air2 {
    0% {
      left: 23%;
    }

    100% {
      bottom: 23.3%;
      transform: rotate(-3deg);
    }
  }
}

/* ! IPAD */

@media only screen and (max-width: 768px) {
  /* BUKU DAN PENSIL */
  .content-1 .container .row:nth-child(1) .col .buku {
    display: none;
  }

  .content-1 .container .row:nth-child(1) .col .pensil1,
  .content-1 .container .row:nth-child(1) .col .pensil2 {
    display: none;
  }

  /* KOMPUTER */
  .content-1 .container .row:nth-child(1) .col .komputer {
    position: relative;
    width: 180px;
    height: 180px;
    background-image: url("./img/computer.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .content-1 .container .row:nth-child(1) .col .komputer .textPertanyaan {
    width: 65%;
    height: 40%;
    font-size: 8px;
    font-family: BMFont;
    letter-spacing: 1px;
    display: flex;
    flex-direction: column;
    align-items: start;
    position: absolute;
    top: 23%;
    left: 22.4%;
  }

  /* TEXT ATAS KOMPUTER */

  .content-1 .container .row:nth-child(1) .col .komputer .kotak {
    width: 67%;
    font-size: 0.6rem;
    position: absolute;
    top: 12%;
    left: 16.5%;
    background-color: rgba(54, 54, 54, 0.264);
  }

  /* TEXTAREA */

  .content-1
    .container
    .row:nth-child(1)
    .col
    .komputer
    .textPertanyaan
    textarea {
    width: 80%;
    height: 20px;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.45);
    font-size: 8px;
    font-family: BMFont;
    font-weight: 600;
    color: rgb(11, 150, 29);
    letter-spacing: 2px;
    border: 0;
    padding-left: 5px;
    padding-right: 5px;
  }

  /* INPUT */

  .content-1 .container .row:nth-child(2) form input {
    width: 50%;
    height: 30px;
    margin-right: 10px;
    text-align: center;
    border: 2px solid black;
    color: rgb(11, 150, 29);
    letter-spacing: 1.5px;
    font-size: 0.7rem;
  }

  /* BUTTON */

  .content-1 .container .row:nth-child(2) form button {
    font-size: 0.8rem;
    font-family: BMFont;
    width: 25%;
  }

  /* GELAS */

  .content-1 .container .row:nth-child(1) .col .gelas,
  .content-1 .container .row:nth-child(1) .col .air1,
  .content-1 .container .row:nth-child(1) .col .air2,
  .content-1 .container .row:nth-child(1) .col .air3 {
    display: none;
  }
}

@media only screen and (max-width: 500px) {
  /* JUDUL ATAS COMP */
  .content-1 .container .row:nth-child(1) .col .komputer .kotak {
    background-color: rgba(54, 54, 54, 0.264);
    font-size: 12px;
    width: 67%;
    position: absolute;
    top: 13%;
    left: 16.5%;
  }

  /* KOMPUTER */
  .content-1 .container .row:nth-child(1) .col .komputer {
    position: relative;
    width: 245px;
    height: 245px;
    background-image: url("./img/computer.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .content-1 .container .row:nth-child(1) .col .komputer .textPertanyaan {
    font-size: 11.5px;
  }

  /* TEXTAREA */
  .content-1
    .container
    .row:nth-child(1)
    .col
    .komputer
    .textPertanyaan
    textarea {
    font-size: 12px;
  }

  /* INPUT */
  .content-1 .container .row:nth-child(2) form input {
    width: 60%;
    font-size: 14px;
  }

  /* BUTTON */
  .content-1 .container .row:nth-child(2) form button {
    font-size: 0.8rem;
    font-family: BMFont;
  }
}
